.btn {
  @include responsive-text-size('small-semibold');
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 16px;
  height: 50px;
  text-align: center;
  width: auto;
  max-width: auto;

  &--full-width {
    width: 100%;
  }

  &--pink {
    border: 1px solid $bright-pink;
    background-color: $bright-pink;
    color: $white;
    &:hover,
    &:active {
      border: 2px solid $dark-pink;
      background-color: $light-pink;
      color: $white;
      padding: 9px 15px;
    }
    &:hover {
      border: 2px solid $dark-pink;
    }
    &:active {
      border: 2px solid $light-pink;
    }
    &:focus {
      box-shadow: none;
    }
  }
}