// Colors

$white: #FFFFFF;
$light-violet: #7E51FF;
$dark-violet: #1B003B;
$very-dark-violet: #1C1335;
$light-pink: #fb6e9c;
$bright-pink: #FA4A84;
$dark-pink: #c83b69;
$very-light-grayish-blue: #F4F8FB;
$light-grayish-blue: #E0E2EC;
$dark-grayish-blue: #8397AB;