$space-unit: 16px;
$space--xxs: $space-unit * 0.25; // 4px;
$space--xs: $space-unit * 0.5; // 8px;
$space--sm: $space-unit * 0.75; // 12px;
$space--md: $space-unit * 1; // 16px;
$space--xmd: $space-unit * 1.5; // 24px;
$space--lg: $space-unit * 2; // 32px;
$space--xlg: $space-unit * 3; // 48px;